body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Bold', sans-serif;
}


p{
  color: #8f8f8f;
}


/* headings */


.big-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}


/* containers */

.container-fluid{
  padding: 7% 15%;
}

/* sections */
.colored-section{
  background-color: #4B0082;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}


.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
}


/* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* tile section */

/* title image */

.title-image{
  width: 110%;
  position: absolute;
}




#title .container-fluid{
  padding: 3% 15%;
  text-align: left;
}


/* features section */

#features{


  position: relative;
  z-index: 1;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-box{
  padding: 5%;
}

.icon{
  color: #4B0082;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* the testomonial */

#testimonials{
  background-color: #9370DB;


}

.testimonial-text{
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 25%;
  border-radius: 100%;
  margin: 15px;
}

.testimonial-para{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
}

.carousel-item{
  padding: 2% 15%;
}


#press{
  background-color: #9370DB;
  padding-bottom: 3%;

}

.press-logo{
  width: 10%;
  margin: 20px 20px 50px;
}


/* pricing section */


#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3.5rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}


/* cta section */


.cta-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}


/* footer section */

#footer{
  padding: 7% 15%;
}

.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);

  }

}
